<div class="row">
  <div class="col-md-6">
    <h1><%= @attendee.name %></h1>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary" href="/attendee/<%= @attendee.id %>" style="float: right;">Back</a>
  </div>
</div>
<hr>
<h2>Artist: <%= @artist.name %></h2>
<h3>A little about the artist:</h3>
<p id="bio"><%= @artist.bio %></p>
