<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
  </div>
</div>
<br>
<div class="row">
  <div class="well col-md-6 homepage">
    <h2>Welcome to the personal festival scheduler!</h2>
    <p>Are you a <strong>music festival fanatic</strong>? Do you hate the <strong>limited options</strong> you have for easily organizing your favorite artists and seeing which stages and what times they'll be performing at? Well <strong><u>this</u></strong> is the app for you! With this app you'll find a very easy to use interface allowing you to add your top artist and view their details in a neat and clean fashion. There is also a review/comment section so you can communicate with fellow festival goers and get involved in the culture!</p>
    <h4>Want to get started? Just create an account and you're ready to go!</h4>
  </div>
  <div class="col-md-2">

  </div>
  <div class="well col-md-4 homepage" style="float: right;">
    <h1 style="text-align: center;">Festival Attendee</h1>
    <br>
    <h3>Create Account:</h3>
    <form action="/attendee/signup" method="post">
      <label for="name">Name:</label>
      <input class="form-control" type="text" name="name" id="name" required>
      <br>
      <label for="username">New User name:</label>
      <input class="form-control" type="text" name="username" id="username" required>
      <br>
      <label for="password">New User Password:</label>
      <input class="form-control" type="password" name="password" id="password" required>
      <br>
      <button type="submit" class="btn btn-primary">Add User</button>
      <a href="/attendee/signin" class="btn btn-warning">Sign-in</a>
    </form>
  </div>
</div>
