<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <h2>Festival Attendee:</h2>
    <br>
    <h3><a href="/attendee/signin">Sign-in</a></h3>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8">
  </div>
  <div class="well col-md-4" id="attendee-signin">
    <h4>Create Account:</h4>
    <form action="/attendee/signup" method="post">
      <label for="name">Name:</label>
      <input class="form-control" type="text" name="name" id="name">
      <br>
      <label for="username">New User name:</label>
      <input class="form-control" type="text" name="username" id="username">
      <br>
      <label for="password">New User Password:</label>
      <input class="form-control" type="password" name="password" id="password">
      <br>
      <button type="submit" class="btn btn-success">Add User</button>
    </form>
  </div>
</div>
