<!DOCTYPE html>
<html>
  <head>
    <title>Personal Festival Scheduler</title>
    <link href="https://fonts.googleapis.com/css?family=Acme|Montserrat+Subrayada|Roboto" rel="stylesheet">    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/styles.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <a id="header" class="flash" href="/"><div class="row" id="header"><h1>Personal Festival Scheduler</h1></h1></div></a>
    <div class="container">
      <br>
      <div class="well style-well">
        <%= yield %>
      </div>
    </div>
    <div style="position: relative">
      <div class="row" id="footer">
        <div class="col-sm-4">
          <h4>Festival Producer? <a id="footer-link" href="/producer/signin">Sign-in</a> • <a id="footer-link" href="/producer/signup">Create Account</a>
          </h4>
        </div>
        <div class="col-sm-4">
          <h4><a id="footer-link" href="/">Return Home</a><h4>
        </div>
        <div class="col-sm-4">
          <h4>Created By: Susha, Steven, Monique, Sowmya</h4>
        </div>
      </div>
    </div>
  </body>
</html
