<div class="row">
  <div class="col-md-6">
    <h2>There was a problem with your login!</h2>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary" href="/" style="float: right;">Try Again!</a>
  </div>
</div>
<hr>
<p>User name and password may not be blank and must have 6 - 15 characters. Password must also include at least one number.
</p>
