#header {
  background-color: rgb(243, 229, 216);
}



#icon {
   background:none!important;
   color: darkred;
   border:none;
   padding:0!important;
   font: inherit;
   /*border is optional*/
   cursor: pointer;
}
