body {
  background: linear-gradient(rgb(255, 242, 230), rgb(255, 230, 204), rgb(255, 242, 230));
}


#header {
  background-color: rgb(96, 64, 32);
  text-align: center;
}

a #header {
  color: rgba(255, 230, 230, 0.8);
  text-decoration: none;
}

.well#attendee-signin {
  background-color: rgba(198, 140, 83, 0.3);
}

.well#home-info {
  background-color: rgba(198, 140, 83, 0.3);
}

#footer {
  background-color: rgb(77, 57, 0);
  color: rgb(255, 242, 230);
  position: fixed;
  bottom: 0;
  height: 50px;
  width:100%;
  text-align: center
}

#footer-link {
  color: rgb(255, 179, 179);
}

#icon {
   background:none!important;
   color: darkred;
   border:none;
   padding:0!important;
   font: inherit;
   /*border is optional*/
   cursor: pointer;
}
